
@{
    ViewBag.Title = "AccessDenied";
}

<div class="text-center">
    <h2>AccessDenied</h2>

    You do not have permission to execute this action.

</div>


<div>
    @Html.ActionLink("Back", "Index")
</div>

